@page
@model IndexModel
@{
    ViewData["Title"] = "Oh Hi!";
}

<div id="home" class="text-center" >
    <h1 class="display-2">Brasen Xu</h1>
    <h2>UWaterloo Computer Science '27</h2>

    <!-- Social Media Links -->
    <div class="contact__buttons mx-auto" >
        <a href="https://www.linkedin.com/in/brasenxu" target="_blank" rel="noopener noreferrer"><i class="si si-linkedin"></i></a>
        <a href="https://github.com/brasenxu" target="_blank" rel="noopener noreferrer"><i class="si si-github"></i></a>
        <a href="https://devpost.com/brasenxu" target="_blank" rel="noopener noreferrer"><i class="si si-devpost"></i></a>
        <a href="mailto:b8xu@uwaterloo.ca" target="_blank" rel="noopener noreferrer"><i class="si si-maildotru"></i></a>
        
        <a href="/BrasenXuResume.pdf" class="btn-resume" target="_blank" rel="noopener noreferrer"><i class="si si-googledocs"></i> Resume</a>
    </div>
    
    <p class="lead" style="margin-top: 25px;"> Hi! I post about my projects and work experiences on this site, feel free to take a look around!</p>

    <!-- Projects and Experience -->
    <div class="btn-group mx-auto">
        <a href="/Projects" class="btn">Projects</a>
        <a href="/Experience" class="btn">Work Experience</a>
    </div>
    
    
</div>

