html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*What the heck does this do? I have no clue*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background: linear-gradient(-45deg, #000000, #161616, #242424, #333333, #434343);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #161616;
  padding: 10px;
  text-align: center;
  /*Some fonts to consider: Georgia, Constantia, Tahoma*/
  font-family: 'Tahoma', sans-serif;
}

.navbar-brand {
  font-size: 2.5rem;
  color: antiquewhite;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  font-size: 1.5rem;
  margin: 0 20px;
}

nav ul li a:hover {
  background-color: #555;
}

.nav-link {
  color: floralwhite;
  text-decoration: none;
}

#home {
  text-align: center;
  padding: 150px 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: antiquewhite;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: floralwhite;
}

p {
  font-size: 1.2rem;
  color: whitesmoke;
}

.contact__buttons {
  font-size: 3rem;
  color: antiquewhite;
  display: flex;
  max-width: 100%;
  gap: 25px;
  a {
    color: inherit;
  }
  a:hover {
    color: #0076bd;
    border-color: #0076dd;
  }
  align-items: center;
}

.btn-resume {
  font-size: 1.5rem;
  display: inline-flex;
  padding: 10px 15px;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid antiquewhite;
}

.btn-group {
  display: flex;
  color: antiquewhite;
  gap: 30px;
  align-items: center;
  a {
    color: inherit;
  }
  a:hover {
    color: #0076bd;
    border-color: #0076dd;
  }
}

.btn {
  padding: 10px 15px;
  display: inline-flex;
  font-size: 1.5rem;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  border: 3px solid antiquewhite;
}

#projects, #experience {
  padding: 100px 20px;
  margin-top: 60px;
}

/*ul {*/
/*  padding: 0;*/
/*}*/

ul li {
  margin-bottom: 20px;
}

a, a.hover {
  text-decoration: none;
  /*transition: color 0.3s ease-in-out;*/
}

/* Cards CSS */
.postcard {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: white;
  
  a {
    color: inherit;
  }

  h1, .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }
  
  .postcard__subtitle_badges {
    display: flex;
    gap: 15px;
  }

  .postcard__buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    align-items: center;
    font-size: 3rem; /* Adjust base font size */
    color: antiquewhite;
    gap: 20px; /* Slightly reduce gap */
    z-index: 1;
    position: relative; /* Remove absolute positioning */
    /*padding-right: 1rem; !* Add padding to give some space from the right *!*/
  }

  .postcard__img {
    display: flex;
    justify-content: flex-end;
    max-height: 15vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }
  
  .postcard__header {
    display: flex;
    justify-content: space-between; /* Distribute space between title and buttons */
    align-items: center; /* Vertically center content */
    margin-bottom: 10px;
    /*flex-wrap: wrap; !* Wrap content on small screens *!*/
  }

  .postcard__bar {
    width: 35%;
    height: 0.75vw;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__bar_projects {
    width: 35%;
    height: 1.25vw;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  
  &:hover .postcard__bar {
    width: 75%;
  }

  &:hover .postcard__bar_projects {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .contact__buttons {
    font-size: 2.5rem;
    gap: 15px;
  }
  
  .postcard__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .postcard__subtitle_badges {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .postcard__buttons {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
    gap: 10px; /* Decrease gap to save space */
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
    flex-direction: column;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 2rem 3rem 1.5rem 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    /*&:hover .postcard__img {*/
    /*  transform: scale(1.1);*/
    /*}*/

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
}

/* COLORS */
.postcard .green.play:hover {
  background: #79dd09;
  color: black;
}
.green .postcard__title:hover, .green .postcard__buttons a:hover {
  color: #79dd09;
  b {
    color: #92f623;
  }
}
.green .postcard__bar, .green .postcard__bar_projects {
  background-color: #79dd09;
}
.green .postcard__preview-txt li::marker {
  color: #79dd09;
}
.green .postcard__preview-txt b {
  color: #79dd09;
}
.green::before {
  background-image: linear-gradient(
  -30deg,
  rgba(121, 221, 9, 0.1),
  transparent 50%
  );
}
.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .blue.play:hover {
  background: #0076bd;
}
.blue .postcard__title:hover, .blue .postcard__buttons a:hover {
  color: #0076bd;
  b {
    color: #0096f0;
  }
}
.blue .postcard__bar, .blue .postcard__bar_projects {
  background-color: #0076bd;
}
.blue .postcard__preview-txt li::marker {
  color: #0076bd;
}
.blue .postcard__preview-txt b {
  color: #0076bd;
}
.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .red.play:hover {
  background: #bd150b;
}
.red .postcard__title:hover, .red .postcard__buttons a:hover {
  color: #bd150b;
  b {
    color: #ed1a0e;
  }
}
.red .postcard__bar, .red .postcard__bar_projects {
  background-color: #bd150b;
}
.red .postcard__preview-txt b {
  color: #bd150b;
}
.red .postcard__preview-txt li::marker {
  color: #bd150b;
}
.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .yellow.play:hover {
  background: #bdbb49;
  color: black;
}
.yellow .postcard__title:hover, .yellow .postcard__buttons a:hover {
  color: #bdbb49;
}
.yellow .postcard__bar, .yellow .postcard__bar_projects {
  background-color: #bdbb49;
}
.yellow .postcard__preview-txt b {
  color: #bdbb49;
}
.yellow .postcard__preview-txt li::marker {
  color: #bdbb49;
}
.yellow::before {
  background-image: linear-gradient(
  -30deg,
  rgba(189, 187, 73, 0.1),
  transparent 50%
  );
}
.yellow:nth-child(2n)::before {
  background-image: linear-gradient(
  30deg,
  rgba(189, 187, 73, 0.1),
  transparent 50%
  );
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(
    -80deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
    );
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(
    80deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
    );
  }

  .blue::before {
    background-image: linear-gradient(
    -80deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
    );
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(
    -80deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
    );
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(
    80deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
    );
  }
}

.card {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  
}


